h1 {
    background-color: slategrey;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: left;
    float: left;
}

.header-nav {
    background-color: gray;
    border-radius: 0px;
    clear: right;
}

.navbar-brand,
h1,
.container-fluid {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    clear: right;
}

.navbar-header,
button.navbar-toggle,
.navbar-header .icon-bar {
    clear: left;
    margin-top=30px;
    background-color: grey;
    border: 1px solid black;
}

.navbar-header .icon-bar .navbar-default {
    background-color: grey;
    border: 1px solid black;
    clear: right;
    text-align: center;
}

.navbar navbar-default {
    background-color: grey;
    border: 1px solid black;
    clear: left;
}

.cont {
    background-color: grey;
    border: 2px solid black;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 5px;
    clear: left;
    float: center;
    margin-left: 50px;
}

p {
    text-align: "center";
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.glyphicon {
    text-align: right;
    border: 1px black;
    float: right;
    clear: both;
    align-items: center;
}

div {
    font-size: 50px;
}

h2 {
    text-align: center;
    background-color: aliceblue;
    font-size: 50px;
}

a {
    font-size: 20px;
    visibility: "hidden-lg";
}